In [1]:
import pandas as pd

In [37]:
def read_trips_data():
    trips = pd.read_parquet('../inputs/blue_bikes_master_trip_data.parquet', engine='pyarrow')
    hubs = pd.read_csv('../inputs/blue_bikes_hub_data.csv')
    return trips, hubs

trips, hubs = read_trips_data()

In [38]:
trips

,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,legacy_start_station_id,legacy_end_station_id
0,2023-05-22 16:16:20,2023-05-22 17:06:23,Williams St at Washington St,D32040,NCAAA - Walnut Ave at Crawford St,B32027,42.306539,-71.107669,42.316902,-71.091946,casual,NaN,NaN
1,2023-05-24 08:34:32,2023-05-24 08:56:35,Hyde Square - Barbara St at Centre St,E32003,Ames St at Main St,M32037,42.321765,-71.109842,42.362500,-71.088220,member,NaN,NaN
2,2023-05-16 08:50:27,2023-05-16 09:13:17,Hyde Square - Barbara St at Centre St,E32003,Ames St at Main St,M32037,42.321765,-71.109842,42.362500,-71.088220,member,NaN,NaN
3,2023-05-16 14:29:21,2023-05-16 14:44:33,Hyde Square - Barbara St at Centre St,E32003,St. Alphonsus St at Tremont St,B32063,42.321765,-71.109842,42.333293,-71.101246,member,NaN,NaN
4,2023-05-25 07:26:53,2023-05-25 07:52:34,Williams St at Washington St,D32040,Washington St at Fuller St,C32084,42.306539,-71.107669,42.281986,-71.071479,casual,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13966953,2018-05-31 23:55:47.3360,2018-05-31 23:58:48.2630,Cross St at Hanover St,None,Aquarium T Stop - 200 Atlantic Ave,None,42.362811,-71.056067,42.359912,-71.051430,Subscriber,47.0,20.0
13966954,2018-05-31 23:58:22.6190,2018-06-01 00:07:15.1460,Lafayette Square at Mass Ave / Main St / Colum...,None,Verizon Innovation Hub 10 Ware Street,None,42.363465,-71.100573,42.372509,-71.113054,Customer,75.0,221.0
13966955,2018-05-31 23:58:52.8790,2018-06-01 00:20:18.5190,Tremont St at West St,None,Inman Square at Vellucci Plaza / Hampshire St,None,42.354979,-71.063348,42.374035,-71.101427,Subscriber,54.0,88.0
13966956,2018-05-31 23:59:03.7530,2018-06-01 00:03:44.2450,Charles Circle - Charles St at Cambridge St,None,Beacon St at Arlington St,None,42.360185,-71.070866,42.355536,-71.072869,Subscriber,60.0,58.0
13966957,2018-05-31 23:59:32.2670,2018-06-01 00:13:12.6670,CambridgeSide Galleria - CambridgeSide PL at L...,None,Lewis Wharf at Atlantic Ave,None,42.366981,-71.076472,42.363871,-71.050877,Subscriber,84.0,40.0

In [39]:
trips['member_casual'] = ['member' if member == 'Customer' else ('casual' if member == 'Subscriber' else member) for member in trips['member_casual']]

In [40]:
trips['started_at'] = pd.to_datetime(trips['started_at'],format='mixed')
trips['ended_at'] = pd.to_datetime(trips['ended_at'],format='mixed')

In [41]:
trips

,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,legacy_start_station_id,legacy_end_station_id
0,2023-05-22 16:16:20.000,2023-05-22 17:06:23.000,Williams St at Washington St,D32040,NCAAA - Walnut Ave at Crawford St,B32027,42.306539,-71.107669,42.316902,-71.091946,casual,NaN,NaN
1,2023-05-24 08:34:32.000,2023-05-24 08:56:35.000,Hyde Square - Barbara St at Centre St,E32003,Ames St at Main St,M32037,42.321765,-71.109842,42.362500,-71.088220,member,NaN,NaN
2,2023-05-16 08:50:27.000,2023-05-16 09:13:17.000,Hyde Square - Barbara St at Centre St,E32003,Ames St at Main St,M32037,42.321765,-71.109842,42.362500,-71.088220,member,NaN,NaN
3,2023-05-16 14:29:21.000,2023-05-16 14:44:33.000,Hyde Square - Barbara St at Centre St,E32003,St. Alphonsus St at Tremont St,B32063,42.321765,-71.109842,42.333293,-71.101246,member,NaN,NaN
4,2023-05-25 07:26:53.000,2023-05-25 07:52:34.000,Williams St at Washington St,D32040,Washington St at Fuller St,C32084,42.306539,-71.107669,42.281986,-71.071479,casual,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13966953,2018-05-31 23:55:47.336,2018-05-31 23:58:48.263,Cross St at Hanover St,None,Aquarium T Stop - 200 Atlantic Ave,None,42.362811,-71.056067,42.359912,-71.051430,casual,47.0,20.0
13966954,2018-05-31 23:58:22.619,2018-06-01 00:07:15.146,Lafayette Square at Mass Ave / Main St / Colum...,None,Verizon Innovation Hub 10 Ware Street,None,42.363465,-71.100573,42.372509,-71.113054,member,75.0,221.0
13966955,2018-05-31 23:58:52.879,2018-06-01 00:20:18.519,Tremont St at West St,None,Inman Square at Vellucci Plaza / Hampshire St,None,42.354979,-71.063348,42.374035,-71.101427,casual,54.0,88.0
13966956,2018-05-31 23:59:03.753,2018-06-01 00:03:44.245,Charles Circle - Charles St at Cambridge St,None,Beacon St at Arlington St,None,42.360185,-71.070866,42.355536,-71.072869,casual,60.0,58.0
13966957,2018-05-31 23:59:32.267,2018-06-01 00:13:12.667,CambridgeSide Galleria - CambridgeSide PL at L...,None,Lewis Wharf at Atlantic Ave,None,42.366981,-71.076472,42.363871,-71.050877,casual,84.0,40.0

In [18]:
trips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13966958 entries, 0 to 13966957
Data columns (total 13 columns):
 #   Column                   Dtype
---  ------                   -----
 0   started_at               object
 1   ended_at                 object
 2   start_station_name       object
 3   start_station_id         object
 4   end_station_name         object
 5   end_station_id           object
 6   start_lat                float64
 7   start_lng                float64
 8   end_lat                  float64
 9   end_lng                  float64
 10  member_casual            object
 11  legacy_start_station_id  float64
 12  legacy_end_station_id    float64
dtypes: float64(6), object(7)
memory usage: 1.4+ GB

In [42]:
hubs

,Unnamed: 0,Number,Name,Latitude,Longitude,District,Public,Total docks,Deployment Year
0,0,K32015,1200 Beacon St,42.344149,-71.114674,Brookline,Yes,15,2021.0
1,1,W32006,160 Arsenal,42.364664,-71.175694,Watertown,Yes,11,2021.0
2,2,A32019,175 N Harvard St,42.364475,-71.128408,Boston,Yes,17,2014.0
3,3,S32035,191 Beacon St,42.380323,-71.108786,Somerville,Yes,19,2018.0
4,4,C32094,2 Hummingbird Lane at Olmsted Green,42.288870,-71.095003,Boston,Yes,17,2020.0
...,...,...,...,...,...,...,...,...,...
455,455,N32005,West Newton,42.349601,-71.226275,Newton,Yes,12,2020.0
456,456,A32043,Western Ave at Richardson St,42.361787,-71.143931,Boston,Yes,19,2019.0
457,457,B32059,Whittier St Health Center,42.332863,-71.092189,Boston,Yes,19,2019.0
458,458,D32040,Williams St at Washington St,42.306539,-71.107669,Boston,Yes,23,2018.0
459,459,S32005,Wilson Square,42.385676,-71.114121,Somerville,Yes,15,2012.0